<!DOCTYPE html>
<html lang="en">
<head>
    <title>PracticeAngular_L8</title>
    <script src="Scripts/angular.min.js" ></script>
    <script src="Scripts/Script_L8.js" ></script>
    <link rel="stylesheet" href="Style/Style.css" />

</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        <br/> 
        Rows to display : <input type="number" step="1" min="0" 
        max="5"  ng-model="rowLimit" style="height: 35px;font-size: 20px;">        
        <br/> <br/> 
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Of Birth</th>
                    <th>Gender</th>
                    <th>Salary (number filter)</th>
                    <th>Salary (currency filter)</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr ng-repeat="employee in employees | limitTo:3:1  3->顯示3行  1 從index=1的項目開始顯示 "> -->
                <tr ng-repeat="employee in employees | limitTo:rowLimit">
                    <td>{{employee.name | uppercase}}</td>
                    <td>{{employee.dateOfBirth | date:"dd/MM/yyyy" }}</td>
                    <td>{{employee.gender | lowercase}}</td>
                    <!-- thousand split comma -->
                    <td>{{employee.salary | number: 2}}</td>
                    <td>{{employee.salary | currency:"#":1}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
